amqp==2.3.2
billiard==3.5.0.4
celery==4.2.1
click==6.7
itsdangerous==0.24
Jinja2==2.10
kombu==4.2.1
MarkupSafe==1.0
pytz==2018.5
SQLAlchemy==1.2.10
vine==1.1.4
Werkzeug==0.14.1
psycopg2==2.7.5
decorator==4.3.0
bcrypt==3.1.6
python-dotenv=0.10.1
